@mixin margin-element() {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
}

@mixin main-fonts() {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

$small-text: 14px;
$middle-text: 18px;
$large-text: 24px;

$shadows: rgba(0, 0, 0, 0.24) 0px 3px 8px;

@mixin mat-spinner() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}